docs/n8n_cable_agent_workflow.json
{
  "name": "TakeoffPro – Cable Vision Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cable-estimate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare input\nconst body = $input.first().json.body || $input.first().json;\nconst geometry = body.geometry;\nconst screenshotBase64 = body.screenshot_base64;\n\nif (!geometry) throw new Error('geometry missing');\n\n// Build a concise text summary for the LLM\nconst { devices = [], panels = [], polylines = [], scale, bounds, stats } = geometry;\n\nconst deviceSummary = devices.reduce((acc, d) => {\n  acc[d.type] = (acc[d.type] || 0) + 1;\n  return acc;\n}, {});\n\nconst traySummary = polylines\n  .filter(p => p.info?.type === 'tray')\n  .map(p => `${p.layer} (${p.points.length} pont)`)\n  .slice(0, 5);\n\nconst textContext = `\nSKÁLA: 1 rajzi egység = ${scale.factor ? (scale.factor * 1000).toFixed(1) + 'mm' : 'ismeretlen'}\nHATÁROK: X: ${Math.round(bounds.minX)}–${Math.round(bounds.maxX)}, Y: ${Math.round(bounds.minY)}–${Math.round(bounds.maxY)}\nELOSZTÓK AZONOSÍTVA (${panels.length}): ${panels.map(p => p.name + ' @ (' + Math.round(p.x) + ',' + Math.round(p.y) + ')').join(', ') || 'NINCS – becslés szükséges'}\nESZKÖZÖK (${devices.length} db összesen):\n${Object.entries(deviceSummary).map(([t,c]) => `  - ${t}: ${c} db`).join('\\n')}\nKÁBELTÁLCA LAYER-EK: ${traySummary.length > 0 ? traySummary.join(', ') : 'NINCS'}\nFAL GEOMETRIA: ${polylines.some(p => ['FAL','WALL','ARCH','A-WALL'].some(k => p.layer.toUpperCase().includes(k))) ? 'VAN' : 'NINCS'}\n`.trim();\n\nreturn [{\n  json: {\n    geometry,\n    screenshotBase64,\n    textContext,\n    hasScreenshot: !!screenshotBase64,\n    deviceCount: devices.length,\n    panelCount: panels.length,\n  }\n}];"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ (() => {\n  const data = $json;\n  const parts = [];\n  \n  parts.push({\n    type: 'text',\n    text: `Te egy tapasztalt magyar villamos tervező mérnök AI asszisztens vagy. Elemezz egy villamossági tervrajzot.\n\nGEOMETRIAI ADATOK A DXF FÁJLBÓL:\n${data.textContext}\n\nFELADATOD:\n1. ELOSZTÓ AZONOSÍTÁS: Ha nincs elosztó azonosítva, a képen keresd meg (szekrény, tábla, DB szimbólum). Ha sem a képen sem a geometriában nincs: becsüld a fogyasztók centroidjából.\n\n2. ÁRAMKÖRÖK TERVEZÉSE:\n   - Dugalj körök: max 10 dugalj/kör, térbeli közelség alapján\n   - Lámpa körök: max 15 lámpa/kör, helyiségek szerint\n   - Kapcsolók: a hozzájuk tartozó lámpakörrel együtt\n   - Ha több szint/zóna látszik: zónánként külön körök\n\n3. KÁBELHOSSZ BECSLÉS (elosztótól minden eszközig):\n   - Ha van kábeltálca: tálca mentén vezess, majd le az eszközig (+1.5m/eszköz)\n   - Ha nincs tálca de falak látszanak: fal mentén Manhattan út × 1.2\n   - Ha csak koordináták: Euclidean × 1.35 (valóságfaktor)\n   - Mindig adj +10% ráhagyást a végeredményhez\n\n4. CONFIDENCE SCORE (0.0–1.0):\n   - 0.85+: elosztó OK + kábeltálca látható + skála OK\n   - 0.65–0.84: elosztó OK + falak látszanak\n   - 0.40–0.64: csak koordináták, nincs tálca\n   - -0.15 ha az elosztót becsülni kellett\n\nVÁLASZOLJ KIZÁRÓLAG valid JSON-ban, semmi más:\n{\n  \"panels_identified\": [{\"id\": \"P1\", \"x\": 0, \"y\": 0, \"source\": \"layer|image|estimated\", \"confidence\": 0.9}],\n  \"circuits\": [\n    {\n      \"id\": \"K1\",\n      \"type\": \"socket|light|switch|other\",\n      \"panel_id\": \"P1\",\n      \"device_count\": 8,\n      \"zone\": \"földszint\",\n      \"estimated_length_m\": 145,\n      \"method\": \"manhattan|tray|euclidean\",\n      \"notes\": \"Nappali + konyha dugalj kör\"\n    }\n  ],\n  \"cable_total_m\": 847,\n  \"cable_by_type\": {\n    \"socket_m\": 480,\n    \"light_m\": 210,\n    \"switch_m\": 80,\n    \"other_m\": 77\n  },\n  \"confidence\": 0.72,\n  \"method\": \"Manhattan + 20% ráhagyás\",\n  \"warnings\": [\"Kábeltálca nem azonosítható\"],\n  \"reasoning\": \"Rövid magyarázat 2-3 mondatban magyarul\"\n}`\n  });\n  \n  if (data.hasScreenshot && data.screenshotBase64) {\n    parts.push({\n      type: 'image_url',\n      image_url: { url: `data:image/png;base64,${data.screenshotBase64}` }\n    });\n    parts.push({\n      type: 'text',\n      text: 'A fenti képen látod a DXF tervrajzot. Használd a vizuális információt az elosztók és kábelútvonalak azonosításához.'\n    });\n  }\n  \n  return parts;\n})() }}"
            }
          ]
        }
      },
      "id": "claude-vision",
      "name": "Claude Vision Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Claude failed – pass context forward for GPT-4o\nconst preparedData = $('Prepare Input').first().json;\nreturn [{ json: { ...preparedData, _claude_failed: true } }];"
      },
      "id": "claude-error-handler",
      "name": "Claude Error → GPT Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "options": {
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Te egy tapasztalt magyar villamos tervező mérnök AI asszisztens vagy. Válaszolj KIZÁRÓLAG valid JSON-ban, magyarul."
            },
            {
              "role": "user",
              "content": "={{ (() => {\n  const data = $('Prepare Input').first().json;\n  let prompt = `GEOMETRIAI ADATOK:\\n${data.textContext}\\n\\nFELADATOD: Elemezd a villamossági tervet. Azonosítsd az elosztókat, csoportosítsd az áramköröket, számítsd ki a kábelhosszt.\\n\\nVÁLASZOLJ KIZÁRÓLAG valid JSON-ban:\\n{ \"panels_identified\": [], \"circuits\": [], \"cable_total_m\": 0, \"cable_by_type\": {\"socket_m\":0,\"light_m\":0,\"switch_m\":0,\"other_m\":0}, \"confidence\": 0.5, \"method\": \"\", \"warnings\": [], \"reasoning\": \"\" }`;\n  return prompt;\n})() }}"
            }
          ]
        }
      },
      "id": "gpt4o-fallback",
      "name": "GPT-4o Fallback",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Take whichever result came through (Claude or GPT-4o)\nconst items = $input.all();\nconst item = items[0];\nconst raw = item.json.content?.[0]?.text \n  || item.json.choices?.[0]?.message?.content \n  || item.json.text \n  || JSON.stringify(item.json);\n\nlet parsed;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) { try { parsed = JSON.parse(match[0]); } catch { throw new Error('AI válasz nem valid JSON'); } }\n  else throw new Error('Nem található JSON az AI válaszban: ' + raw.slice(0,200));\n}\n\nif (!parsed.circuits || !Array.isArray(parsed.circuits)) parsed.circuits = [];\nif (!parsed.cable_total_m) parsed.cable_total_m = parsed.circuits.reduce((s,c)=>s+(c.estimated_length_m||0),0);\nparsed.confidence = Math.max(0, Math.min(1, parsed.confidence || 0.5));\nparsed._source = item.json._claude_failed ? 'n8n_gpt4o_fallback' : 'n8n_claude_vision';\nparsed._timestamp = new Date().toISOString();\n\nreturn [{ json: { success: true, ...parsed } }];"
      },
      "id": "merge-results",
      "name": "Merge & Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Claude Vision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Vision Agent": {
      "main": [
        [
          {
            "node": "Merge & Parse Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude Error → GPT Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Error → GPT Fallback": {
      "main": [
        [
          {
            "node": "GPT-4o Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Fallback": {
      "main": [
        [
          {
            "node": "Merge & Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Parse Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "TakeoffPro"
    }
  ]
}